# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# macOS related files
*.orig
.Packages
.flutter-plugins
.flutter-plugins-dependencies
FlutterGenerated.xcconfig
GeneratedPluginRegistrant.swift
Icon?
Pods/
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xcodeproj/*

# Android related files
.gradle/
local.properties
**/android/app/src/main/jniLibs/
**/android/key.properties
**/android/app/google-services.json
**/android/app/debug.keystore
app/build/
output.json

# Windows related files
windows/flutter/generated_plugin_registrant.cc
windows/.vs/
windows/Debug/
windows/Release/

# Web related files
web/assets/

# Linux related files
linux/flutter/generated_plugin_registrant.cc
linux/build/

# Firebase related
firebase_app_id_file.json

# Temporary files
*.tmp
*.temp
*.log
*.gz
*.zip

# VSCode settings
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# Flutter build and cache
.flutter-plugins-dependencies
.flutter-plugins
.packages
.ios/
.idea/
test/**/outputs


.env